/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@400;500;600;700&display=swap");

/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: fit-content;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.wrappercon {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

#logo-company {
  font-size: 24px;
  font-family: "DM Serif Display";
}

header ul {
  display: flex;
  list-style: none;
}

nav li a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  margin-right: 16px;
  color: #000;
}

.nav-cart {
  display: flex;
}

.nav-cart a i {
  font-size: 28px;
  color: #000;
  margin-right: 1rem;
}

.nav-cart h6 {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 600;
  padding: 4px;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 100%;
  margin-top: -1rem;
  margin-left: -1rem;
}

/* Jumbotron */
.jumbotron {
  height: 90vh;
}

.jumbotron .jumbo-pict img {
  position: absolute;
  z-index: 0;
}

.jumbo-content {
  display: flex;
}

.jumbo-content .left-jb {
  width: 80%;
}

.jumbo-content .right-jb {
  width: 20%;
}

.jumbo-content h4 {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 20px;
}

.jumbo-content h1 {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 80px;
}

.jumbo-content span {
  color: #fff;
}

.jumbo-content p {
  font-family: "poppins";
  font-weight: 400;
  font-size: 16px;
  width: 30vw;
  opacity: 80%;
}

.jumbo-content input {
  margin-top: 3rem;
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 16px;
  font-family: "poppins";
  width: 16vw;
  height: 3rem;
  cursor: pointer;
}

.jumbo-text {
  display: flex;
  align-items: center;
}

.line-height {
  height: 11rem;
  width: 2px;
  background-color: #000;
  margin-right: 1rem;
}

.right-jb {
  position: relative;
  top: 28vh;
}

.right-jb p {
  width: 14rem;
}

.p-down {
  margin-top: 10.5rem;
}

/* Brand Selling */

.section-title-wrap {
  margin: 4rem 0 3rem 0;
}

.section-title-wrap p {
  font-family: "Poppins";
  text-align: center;
  font-size: 18px;
  width: 60%;
  margin: 0 auto;
  color: #000;
  opacity: 80%;
}

#section-title {
  font-size: 48px;
  font-weight: 400;
  font-family: "DM Serif Display";
  text-align: center;
  letter-spacing: 4px;
}

.brand-wrapper {
  background-color: #000;
  height: 24vh;
  display: flex;
  justify-content: space-evenly;
}

.brand-wrapper img {
  width: 172px;
  height: 80px;
}

/* Card */

.card-img {
  width: 288px;
  height: 300px;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  width: 288px;
  height: 190px;
  background-color: #000;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Poppins";
}

.card-img img {
  width: 143px;
}

.card-content-details {
  color: #fff;

  display: flex;
  flex-direction: column;
}

.card-content-details h4 {
  font-size: 20px;
}

.card-content-details h6 {
  font-size: 16px;
  font-weight: 400;
}

.card-content-center {
  display: flex;
  justify-content: flex-end;
}

.card-content-center a {
  margin-top: 1.5rem;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 0.5rem 2.8rem;
  color: #000;
  text-decoration: none;
  background-color: #fff;
}

/* Top Selling */
.selling-content {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  height: 64vh;
  font-family: "Poppins";
}

.selling-content img {
  width: 100%;
  height: 100%;
}

.selling-content-left {
  width: 60%;
  background-image: url(gambar/bg-convers.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.content-left-details {
  display: flex;
  justify-content: space-between;
  height: 96px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  color: #fff;
  padding: 0 32px;
  align-items: center;
}

.selling-price h6 {
  font-size: 14px;
  font-weight: 400;
}

.selling-price h4 {
  font-size: 26px;
  font-weight: 600;
}

.selling-button a {
  background-color: #000;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  padding: 0.8rem 2.5rem;
}

.selling-content-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.selling-content-up {
  height: 50%;
  background-image: url(gambar/bg-shirt.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.selling-content-down {
  height: 50%;
  background-image: url(gambar/bg-hat.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Footer Section */
footer {
  background-color: #000;
  height: 50vh;
  padding: 4rem 2rem;
  margin-top: 6rem;
}

.footer-contents {
  font-family: "Poppins";
  display: flex;
  justify-content: space-around;
}

.footer-contents h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
  opacity: 90%;
}

.footer-contents a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  display: block;
  font-weight: 400;
  opacity: 80%;
}

.footer-line {
  width: 100%;
  height: 1px;
  border-radius: 100%;
  background-color: #fff;
  margin: 3rem 0 2rem 0;
  opacity: 60%;
}

.footer-end {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.footer-end h3 {
  font-size: 32px;
  font-weight: 600;
}

.footer-end p {
  font-size: 18px;
  font-family: "Poppins";
  opacity: 70%;
}

/* ===== HALAMAN BELI PRODUK ===== */

.buy-wrapper {
  position: relative;
  top: 5vh;
  display: flex;
  align-items: center;
  column-gap: 4rem;
  font-family: "Poppins";
}

.buy-img {
  width: 25%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
}

.buy-img img {
  max-width: 220px;
  max-height: 230px;
}

.buy-content {
  width: 50%;
}

.buy-content h2 {
  font-size: 32px;
  font-weight: 600;
}

.buy-content span {
  font-size: 20px;
  font-weight: 400;
}

.buy-content p {
  margin-top: 2rem;
  font-size: 16px;
  font-weight: 400;
  opacity: 80%;
  color: #000;
}

.buy-content .add-button {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
}

.buy-content #add-number {
  width: 30%;
  height: 2.5rem;
  font-size: 18px;
  text-align: center;
}

.buy-content #buy-input {
  width: 8rem;
  height: 2.5rem;
  color: #fff;
  background-color: #000;
  border: none;
  font-size: 16px;
  font-family: "Poppins";
  cursor: pointer;
}
